body {
  background-image: url("../images/background_page6.png");
  background-repeat: no-repeat;
}

.navigation ul li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  font-weight: 800;
  font-family: "Inter";
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  position: relative;
}

.navigation ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px; /* Ajusta según el espacio deseado entre el texto y la línea */
  height: 2px; /* Ajusta el grosor de la línea */
  background-color: #fa20f2; /* Cambia este color según tus necesidades */
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.navigation ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.navigation-container {
  margin: auto;
}

.header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  display: flex; /* Habilita el uso de flexbox */
  justify-content: flex-start; /* Distribuye los hijos con espacio entre ellos */
  width: 100%;
  padding: 10px;
  z-index: 1000; /*asegura que el header esta por encima del contenido*/
}

.virtual-assistant-container {
  position: fixed;
    bottom: 5%; /* Coloca la imagen al fondo */
    left: 5%; /* Coloca imagen a la izquierda */
}

#virtual-assistant-icon {
  width: 143px;
  height: 130px;
  transition: all 0.5s ease-in-out;
}

#virtual-assistant-icon:hover {
  transform: scale(80%);
}

::placeholder {
  color: grey;
  font-family: "Inter";
}

.search_bar {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  width: 280px;
  padding: 0 20px;
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  border: 2px solid #fa20f2;
}

.notification-icon {
  width: 30px;
  height:30px;
}

.topics-container h2 {
  font-family: 'inter';
  font-weight: 800;
  font-size: 70px;
  color: #ffffff;
  margin-left: 90px;
  margin-top: 100px; /* Ajusta este valor según sea necesario */
}

.topic {
  background: rgb(217, 217, 217, 0.52);
  width: 382px;
  height: 378px;
  padding: 15px;
  border-radius: 30px 30px 30px 30px;
  border: 2px solid #efc7f1;
}

.topic img {
  margin: auto;
}

.title-topics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-topic {
  font-weight: 800;
  font-family: "Inter";
  font-size: 30px;
  color: #ffffff;
}

.title-topic p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.icon-title-topic-container {
  padding-top: 5px;
  margin-bottom: 5px;
}

.icon-title-topic {
  padding-bottom: 5px;
}

.icon-title-topic-container p {
  font-weight: 800;
  font-family: "Inter";
  font-size: 25px;
  color: #9e3bb7;
  margin-top: 5px;
}

.row1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.row2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
