body {
  background-image: url("../images/background_page6.png");
  background-repeat: no-repeat;
}

.navigation ul li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  font-weight: 800;
  font-family: "Inter";
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  position: relative;
}

.navigation ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px; /* Ajusta según el espacio deseado entre el texto y la línea */
  height: 2px; /* Ajusta el grosor de la línea */
  background-color: #fa20f2; /* Cambia este color según tus necesidades */
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.navigation ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.navigation-container {
  margin: auto;
}

.header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  display: flex; /* Habilita el uso de flexbox */
  justify-content: flex-start; /* Distribuye los hijos con espacio entre ellos */
  width: 100%;
  padding: 10px;
  z-index: 1000; /*asegura que el header esta por encima del contenido*/
}

.virtual-assistant-container {
  position: fixed;
  bottom: 5%; /* Coloca la imagen al fondo */
  left: 5%; /* Coloca imagen a la izquierda */
}

#virtual-assistant-icon {
  width: 143px;
  height: 130px;
  transition: all 0.5s ease-in-out;
}

#virtual-assistant-icon:hover {
  transform: scale(80%);
}

::placeholder {
  color: grey;
  font-family: "Inter";
}

.notification-icon {
  width: 30px;
  height:30px;
}

.search_bar {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  width: 280px;
  padding: 0 20px;
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  border: 2px solid #fa20f2;
}

.virtual-tour-presentation-container h3 {
  color: #ffffff;
  margin-left: 90px;
  font-size: 41px;
  font-weight: 800;
  font-family: "Inter";
  margin-bottom: 20px;
  margin-top: 60px;
}

.text-content-container {
  display: flex;
  justify-content: flex-start;
  background: rgb(217, 217, 217, 0.52);
  border-radius: 30px 30px 30px 30px;
  border: 2px solid #ffffff;
  margin: 90px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1650px;
}

.text-content-container p {
  font-size: 33px;
  font-weight: 800;
  font-family: "Inter";
  text-align: justify;
  margin-right: 20px;
}

.text-content-container img {
  margin-left: 20px;
  width: 478px;
  height: 480px;
}

.buttons-manual-empezar-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.buttons-manual-empezar-container input {
  width: 543px;
  height: 80px;
  border-radius: 167px 167px 167px 167px;
  font-weight: 800;
  font-family: "Inter";
  font-size: 50px;
  color: #ac71db;
}

.manual-container h3 {
  color: #ffffff;
  margin-left: 90px;
  font-size: 41px;
  font-weight: 800;
  font-family: "Inter";
  margin-bottom: 20px;
  margin-top: 60px;
}

.manual-content-container {
  background: rgb(217, 217, 217, 0.52);
  border-radius: 30px 30px 30px 30px;
  border: 2px solid #ffffff;
  margin: 90px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1650px;
}

.manual-content-container p {
  font-size: 33px;
  font-weight: 800;
  font-family: "Inter";
  text-align: justify;
  margin-right: 20px;
}

.manual-content-container ol li {
  font-size: 33px;
  font-weight: 800;
  font-family: "Inter";
  text-align: justify;
  margin-right: 20px;
  margin-left: 60px;
}

.empezar-content-container h3 {
  color: #ffffff;
  margin-left: 90px;
  font-size: 41px;
  font-weight: 800;
  font-family: "Inter";
  margin-bottom: 20px;
  margin-top: 60px;
}

.empezar-content-container img {
  width: 1700px;
  height: 763px;
  border: 2px solid #ffffff;
  border-radius: 30px 30px 30px 30px;
  margin-left: 90px;
}

.button-close-container {
  text-align: center;
}

.button-close-container input {
  width: 543px;
  height: 80px;
  border-radius: 167px 167px 167px 167px;
  font-weight: 800;
  font-family: "Inter";
  font-size: 50px;
  color: #ac71db;
}
